<h2 class="page-title">
	<%= @article.title %>
</h2>
<div class="well col-sm-8 col-sm-offset-2">
	<h4 class="center description">
		<strong>Created by</strong>
	</h4>
	<div align="center">
		<%= link_to(gravatar_for(@article.user, size: 50), user_path(@article.user)) if @article.user%>
	</div>
	<div align="center">
		<%= link_to(@article.user.username, user_path(@article.user)) if @article.user%>
	</div>
	<hr>

	<%= simple_format(@article.description) %>

	<% if logged_in? && (current_user == @article.user || current_user.admin?) %>
		<div class="article-actions">
			<%= link_to "âœ Edit this article", edit_article_path(@article), class: "btn btn-xs btn-primary"%> 
			<%= link_to "âœ˜ Delete this article", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete the article>" }, class: "btn btn-xs btn-danger"%>
		</div>
	<% end %>
</div>

<div class="col-sm-8 col-sm-offset-2">
	<%= link_to "â—€ View all articles", articles_path, class: "btn btn-xs btn-default"%>
</div>
